ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #39464e;
  left: 0;
  right: 0;
  top: 0;
}

li {
  float: left;
  left: 0;
  right: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0084ff;
  color: black;
}

.active {
  background-color: #0084ff;
}
.active:hover
{
  color: black;
}

body
{
	background-color: #21262d;
  position: absolute;
}

